* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    background-image: url(../images/calvin-hobbes.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.fw {
    width: 100%;
}

.seccion-principal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.side {
    display: flex;
    flex-direction: column;
}

.side-left {
    max-width: 50%;
}

.side-right {
    max-width: 50%;
}

.row-main {
    min-height: 150px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.side-left .row-main {
    padding-right: 20px;
}

.side-right .row-main {
    padding-left: 20px;
    justify-content: end;
}

.spacer {
    width: 150px;
}

.tile {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 10px;
    height: 120px;
    width: 120px;
    /* min-width: 120px; */
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

/* .row-main .tile:last-child {
    margin-right: 0;
} */

.tile:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.link-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/******    ICONS    ******/

.full-size {
    width: 100%;
}

.half-size {
    width: 50%;
}

/* #appB {
    padding: 15px;
} */